//front page scss 
body{
    background:  #222222;
}
.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.5%;
    width: 100%;
}
.logo img{
    width: 300px;
    @include tablet{
        width: 500px;
    }
    @include desktop{
       margin: 0 auto;
       margin-left: 178px;
       width: 700px;
    }
    

}
button{
    background-color: #222;
    border: 2px solid #0c0;
    border-radius: 3px;
    color: #0c0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: .75rem 2.25rem;
   
}
#new-quote-button{
    display: block;
@include desktop{
    
        margin: 0 auto;
    }
}


@include desktop{
.site-content{
    margin: 4.5rem 175px 1.5rem;
    position: relative;
   
        &::before {
            font-family: "FontAwesome"; 
            font-weight: 400; 
            font-size: 125px;
             content: "\f10d";
             color:#0c0;
            position: absolute;
            top: 0;
            left: -173px;
           
            
          }
          &::after {
            font-family: "FontAwesome"; 
            font-weight: 400; 
            font-size: 125px;
             content: "\f10e";
             color:#0c0;
             position:absolute;
             top: 0;
             right: -173px;
             
          }
   
}
}

.blog, .archive{
    .entry-content  p{
        font-size: 1.25rem;
        font-weight: 300;
        @include tablet{
            font-size: 1.75rem;
        }
        @include desktop{
            font-size: 2.5rem;
        }
    }
    .entry-title {
        font-size: 1.25rem;
        font-weight: 300;
    }
}
.site-info{
    display: flex;
   flex-wrap: wrap;
   margin: 4.5rem 0 3rem;
    @include desktop{

        justify-content: flex-end;
    }
}
// footer {
//     @include desktop{
//         justify-content: flex-end;
//     }
// }