/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
#quote-author{
    display: flex;
    background: #222222;
    color: #fff;
    margin-bottom: 2rem;
}

#quote-source{
    display: flex;
    background: #222222;
    color: #fff;
    margin-bottom: 2rem;
}

#quote-content{
    background: #222222;
    color: #fff;
    margin-bottom: 2rem;
}

#quote-source-url{
    display: flex;
    background: #222222;
    color: #fff;
    margin-bottom: 2rem;
}
