.post-archives ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 100;

     li{
         margin-bottom: 0.5rem;
         margin-right: 1.2rem;
         
     }
     
   

}

.category-archives ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: 100;
    li{
        margin-bottom: 0.5rem;
        margin-right: 1.1rem;
    }
}

.tag-archives ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-weight: 100;
    li{
        margin-bottom: 0.5rem;
        margin-right: 1.01rem;
    }
}

// archive-page 
.archive .page-title{
    border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    
}
.archive .hentry {
    border-bottom: 1px dotted #fff;
}